<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- spring配置文件 -->
    <import resource="spring-properties.xml"/>

    <!-- spring 上下文配置 -->
    <import resource="spring-context.xml"/>

    <!-- 数据源相关配置 -->
    <import resource="spring-datasource.xml"/>

    <!-- mybatis相关配置 -->
    <import resource="spring-mysql.xml"/>

    <!-- redis相关配置 -->
    <import resource="spring-redis.xml"/>
</beans>
