@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?rlyrd1');
	src:url('fonts/icomoon.eot?#iefixrlyrd1') format('embedded-opentype'),
		url('fonts/icomoon.woff?rlyrd1') format('woff'),
		url('fonts/icomoon.ttf?rlyrd1') format('truetype'),
		url('fonts/icomoon.svg?rlyrd1#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-device:before {
	content: "\e600";
	color:#fff;
	font-size:21px;
}

.icon-topologicalgraph:before {
	content: "\e601";
	color:#fff;
	font-size:21px;
}

.icon-thoubleshooting:before {
	content: "\e602";
	color:#fff;
	font-size:21px;
}

.icon-performance:before {
	content: "\e603";
	color:#fff;
	font-size:21px;
}

.icon-organization:before {
	content: "\e604";
	color:#fff;
	font-size:21px;
}

.icon-system:before {
	content: "\e605";
	color:#fff;
	font-size:21px;
}

.icon-search:before {
	content: "\e606";
	color:#a6a6a6;
	font-size:22px;
	border:0; 
	text-align:center;
	vertical-align:center;
	cursor: pointer;
}

.icon-search:hover:before ,.icon-search:focus:before ,.icon-search:visited:before {
	content: "\e606";
	color:#2aa2df;
	font-size:22px;
	border:0; 
	text-align:center;
	vertical-align:center;
	cursor:pointer;
}

.icon-delete:before {
	content: "\e607";
	color:#717171;
	font-size:22px;
	float:left;
	margin-left:10px;
	border:1px solid #d2d2d2;
	width:41px;
	height:28px;
	line-height:28px;
	text-align:center;
	background:#ffffff;
	border-radius:2px;
}

.icon-delete:hover:before {
	content: "\e607";
	color:#ffffff;
	font-size:22px;
	float:left;
	margin-left:10px;
	border:1px solid #3cabe8;
	width:41px;
	height:28px;
	line-height:28px;
	text-align:center;
	background:#52befa;
	border-radius:2px;
	cursor:pointer;
}

.icon-delete:active:before {
	content: "\e607";
	color:#ffffff;
	font-size:22px;
	float:left;
	margin-left:10px;
	border:1px solid #2799d7;
	width:41px;
	height:28px;
	line-height:28px;
	text-align:center;
	background:#3cabe8;
	border-radius:2px;
	cursor:pointer;
}

.icon-add:before {
	content: "\e608";
	color:#717171;
	font-size:22px;
	float:left;
	margin-left:10px;
	border:1px solid #d2d2d2;
	width:41px;
	height:28px;
	line-height:28px;
	text-align:center;
	background:#ffffff;
	border-radius:2px;
}

.icon-add:hover:before {
	content: "\e608";
	color:#ffffff;
	font-size:22px;
	float:left;
	margin-left:10px;
	border:1px solid #3cabe8;
	width:41px;
	height:28px;
	line-height:28px;
	text-align:center;
	background:#52befa;
	border-radius:2px;
	cursor:pointer;
}

.icon-add:active:before {
	content: "\e608";
	color:#ffffff;
	font-size:22px;
	float:left;
	margin-left:10px;
	border:1px solid #2799d7;
	width:41px;
	height:28px;
	line-height:28px;
	text-align:center;
	background:#3cabe8;
	border-radius:2px;
	cursor:pointer;
}

.icon-discover:before {
	content: "\e609";
	color:#717171;
	font-size:22px;
	float:left;
	margin-left:10px;
	border:1px solid #d2d2d2;
	width:41px;
	height:28px;
	line-height:28px;
	text-align:center;
	background:#ffffff;
	border-radius:2px;
}

.icon-discover:hover:before {
	content: "\e609";
	color:#ffffff;
	font-size:22px;
	float:left;
	margin-left:10px;
	border:1px solid #3cabe8;
	width:41px;
	height:28px;
	line-height:28px;
	text-align:center;
	background:#52befa;
	border-radius:2px;
	cursor:pointer;
}

.icon-discover:active:before {
	content: "\e609";
	color:#ffffff;
	font-size:22px;
	float:left;
	margin-left:10px;
	border:1px solid #2799d7;
	width:41px;
	height:28px;
	line-height:28px;
	text-align:center;
	background:#3cabe8;
	border-radius:2px;
	cursor:pointer;
}

.icon-export:before {
	content: "\e60a";
	color:#717171;
	font-size:22px;
	float:left;
	margin-left:10px;
	border:1px solid #d2d2d2;
	width:41px;
	height:28px;
	line-height:28px;
	text-align:center;
	background:#ffffff;
	border-radius:2px;
}

.icon-export:hover:before {
	content: "\e60a";
	color:#ffffff;
	font-size:22px;
	float:left;
	margin-left:10px;
	border:1px solid #3cabe8;
	width:41px;
	height:28px;
	line-height:28px;
	text-align:center;
	background:#52befa;
	border-radius:2px;
	cursor:pointer;
}

.icon-export:active:before {
	content: "\e60a";
	color:#ffffff;
	font-size:22px;
	float:left;
	margin-left:10px;
	border:1px solid #2799d7;
	width:41px;
	height:28px;
	line-height:28px;
	text-align:center;
	background:#3cabe8;
	border-radius:2px;
	cursor:pointer;
}

.icon-console:before {
	content: "\e60b";
	color:#888888;
	font-size:22px;
	width:41px;
	height:28px;
	line-height:28px;
	margin-left:5px;
} 

.icon-console:hover:before {
	content: "\e60b";
	color:#50bfe9;
	font-size:22px;
	cursor:pointer;
	margin-left:5px;
}

.icon-sync:before {
	content: "\e60c";
	color:#888888;
	font-size:22px;
	width:41px;
	height:28px;
	line-height:28px;
	margin-left:5px;
} 

.icon-sync:hover:before {
	content: "\e60c";
	color:#50bfe9;
	font-size:22px;
	cursor:pointer;
	margin-left:5px;
}

.icon-sidebarsecondarypage:before {
	content: "\e60d";
}

.icon-pageunfolded:before {
	content: "\e60e";
}

.icon-pagefolded:before {
	content: "\e60f";
	color:#888888;
	font-size:22px;
	width:41px;
	height:28px;
	line-height:28px;
	margin-left:5px;
} 

.icon-pagefolded:hover:before {
	content: "\e60f";
	color:#50bfe9;
	font-size:22px;
	cursor:pointer;
	margin-left:5px;
}

.icon-sidebarunfolded:before {
	content: "\e610";
}

.icon-sidebarfolded:before {
	content: "\e611";
}

.icon-histogram:before {
	content: "\e612";
}

.icon-graph:before {
	content: "\e613";
}

.icon-revocation:before {
	content: "\e614";
	color:#717171;
	font-size:28px;
	float:right;
	margin-right:10px;
	border:1px solid #d2d2d2;
	width:41px;
	height:28px;
	text-align:center;
	background:#ffffff;
	border-radius:2px;
}

.icon-revocation:hover:before {
	content: "\e614";
	color:#ffffff;
	font-size:28px;
	float:right;
	margin-right:10px;
	border:1px solid #3cabe8;
	width:41px;
	height:28px;
	text-align:center;
	background:#52befa;
	border-radius:2px;
	cursor:pointer;
}

.icon-revocation:active:before {
	content: "\e614";
	color:#ffffff;
	font-size:28px;
	float:right;
	margin-right:10px;
	border:1px solid #2799d7;
	width:41px;
	height:28px;
	text-align:center;
	background:#3cabe8;
	border-radius:2px;
	cursor:pointer;
}

.icon-play:before {
	content: "\e615";
	color:#717171;
	font-size:28px;
	border:1px solid #d2d2d2;
	width:41px;
	height:28px;
	text-align:center;
	background:#ffffff;
	border-radius:2px;
}

.icon-play:hover:before {
	content: "\e615";
	color:#ffffff;
	font-size:28px;
	border:1px solid #3cabe8;
	width:41px;
	height:28px;
	text-align:center;
	background:#52befa;
	border-radius:2px;
	cursor:pointer;
}

.icon-play:active:before {
	content: "\e615";
	color:#ffffff;
	font-size:28px;
	border:1px solid #2799d7;
	width:41px;
	height:28px;
	text-align:center;
	background:#3cabe8;
	border-radius:2px;
	cursor:pointer;
}

.icon-cake:before {
	content: "\e616";
}

.icon-loop:before {
	content: "\e617";
}

.icon-cancel2:before {
	content: "\e618";
	font-size:22px;
	display:block;
	float:left;
	color:#ffffff;
}

.icon-cancel:before {
	content: "\e618";
	font-size:18px;
	color:#4c4c4c;
	float:right;
	margin-right:17px;
	cursor:pointer;
	text-align:center;
	width:34px;
	height:34px;	
	line-height:34px;
	margin-top:-4px;
}

.icon-cancel:hover:before {
	content: "\e618";
	font-size:21px;
	background:#e51b1b;
 	color:#ffffff;
	float:right;
	margin-right:17px;
	cursor:pointer;
	text-align:center;
	width:34px;
	height:34px;	
	line-height:34px;
	margin-top:-4px;
	filter:alpha(opacity=80); 
    -moz-opacity:0.8; 
	opacity:0.8;
}

.icon-cancel:active:before {
	content: "\e618";
	font-size:21px;
	background:#ce0303;
	color:#ffffff;
	float:right;
	margin-right:17px;
	cursor:pointer;
	text-align:center;
	width:34px;
	height:34px;	
	line-height:34px;
	margin-top:-4px;
	-moz-opacity:0.8; 
	opacity:0.8;
}
 

.icon-save:before {
	content: "\e619";
}

.icon-modal-findBtn:before{
	content: "\e619";
	font-size:22px;
	display:block;
	float:left;
	color:#ffffff;
}

.icon-modal-cancelBtn:before{
	content: "\e618";
	font-size:22px;
	display:block;
	float:left;
	color:#ffffff;
}

.icon-modal-cancelBtnS:before{
	content: "\e618";
	font-size:22px; 
	display:block;
	float:left;
	height:16px;
	line-height: 16px;
}

.icon-modal-cancelBtnS:hover:before{
	content: "\e618";
	font-size:22px;
	display:block;
	float:left;
}

.icon-modal-confirmBtn:before{
	content: "\e619";
	font-size:22px;
	display:block;
	float:left;
	color:#fff;
}

.icon-nameselect:before {
	content: "\e61a";
}

.icon-uniE615:before {
	content: "\e615";
	font-size:18px;
	color:#4c4c4c;
	float:right;
	margin-right:17px;
	cursor:pointer;
	text-align:center;
	width:34px;
	height:34px;	
	line-height:34px;
	margin-top:-4px;
}

.icon-uniE615:hover:before {
	content: "\e615";
	font-size:21px;
	background:#e51b1b;
 	color:#ffffff;
	float:right;
	margin-right:17px;
	cursor:pointer;
	text-align:center;
	width:34px;
	height:34px;	
	line-height:34px;
	margin-top:-4px;
	filter:alpha(opacity=80); 
    -moz-opacity:0.8; 
	opacity:0.8;
}

.icon-uniE615:active:before {
	content: "\e615";
	font-size:21px;
	background:#ce0303;
	color:#ffffff;
	float:right;
	margin-right:17px;
	cursor:pointer;
	text-align:center;
	width:34px;
	height:34px;	
	line-height:34px;
	margin-top:-4px;
	-moz-opacity:0.8; 
	opacity:0.8;
}
.icon-histogram:before {
	content: "\e612";
	color:#fff;
	font-size:21px;
}
.icon-configuration:before {
	content: "\e61e";
	color:#fff;
	font-size:21px;
}
.icon-offline:before {
	content: "\e63c";
	color:#fff;
	font-size:21px;
}
.icon-upgrade:before {
	content: "\e63d";
	color:#fff;
	font-size:21px;
}

.tag{margin-left:5px;margin-top:15px;font-size:20px;color:orange}
