<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.phicomm.big.data.dao.mysql.TestMapper">


    <select id="getRecordById" parameterType="java.lang.Long"
            resultType="com.phicomm.big.data.module.test.TestModel">
        SELECT
            id, city, content
        FROM
            mysql_test
        WHERE
            id = #{id,jdbcType=BIGINT}
    </select>
    
</mapper>