<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
		http://www.springframework.org/schema/aop
         http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.directwebremoting.org/schema/spring-dwr http://www.directwebremoting.org/schema/spring-dwr-3.0.xsd">
	
	<bean id="hello" class="com.chang.ioc.HelloImpl"></bean>
	<bean id="hello2" class = "com.chang.ioc.HelloStaticFactory" factory-method="newInstance">
		<constructor-arg index="0" value="Hello Spring, This bean is constructed by static factory."/> 
	</bean>
	
	<!-- 1. 定义实例工厂Bean -->
	<bean id="beanInstanceFactory" class="com.chang.ioc.HelloFactory"/>  
	<!-- 2. 使用实例工厂Bean创建Bean -->
	<bean id="hello3" factory-bean="beanInstanceFactory" factory-method="newInstance">  
	 <constructor-arg index="0" value="Hello Spring, This bean is constructed by ordinary factory."></constructor-arg>  
	</bean>
	
	
	<!-- 以上是学习测试用 -->
	
	
	
	<!-- 以下为spring框架下的功能学习使用 -->
	<!-- 开启注解 -->  
    <mvc:annotation-driven />
    <!-- 注解扫描包 -->
    <context:component-scan base-package="com.*" />
    
    <mvc:default-servlet-handler />
	<!-- 将css这种静态文件指定到某个特殊的文件夹中 -->
	<mvc:resources location="/static/" mapping="/static/**" />
	
	<!-- 配置视图解析器 如何把handler方法返回值解析为实际的物理视图 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name = "prefix" value="/static/"></property>
        <property name = "suffix" value = ".jsp"></property>
    </bean>
	
	
	
</beans>